@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "tailwindcss";

@theme {
  --font-text: "Poppins", serif;
  --color-blue: #336699;
  --color-darkblue: #1b56fd;
  --color-lightblue: #3f72af;
  --color-gray: #dbe2ef;
  --color-lightgray: #f9f7f7;
  --color-black: #111827;
  --color-red: #e62727;
  --color-lightred: #ffe2e2;
  --color-green: #008236;
  --color-lightgreen: #dcfce7;
}

html::-webkit-scrollbar {
  width: 10px; /* thinner */
}

html::-webkit-scrollbar-track {
  background: #dbe2ef; /* or transparent */
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3b82f6, #1e3a8a);
  border-radius: 9999px;
  transition: background 0.3s ease-in-out;
}

html::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #2563eb, #1e40af);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1b56fd #dbe2ef;
}
